@{
    ViewBag.Title = "Home"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section Aside{
    <section id="profile_section">
					<img src='@Url.Content("~/Content/Images/profile-picture_07.png")' alt="" width = "60%">	
					<article id="profile_data">
						<p><b>Name:</b> Murali Krishna Valluri</p>
						<p><b>Job Role:</b> Intern, Programmer</p>
						<p><b>Team:</b> CRM</p>
						<p><b>Mobile No:</b> +91 9581493307</p>
						<p><b>Email ID:</b> mv250132@ncr.com</p>
						<p><b>Hobbies:</b> Programming, Photoshop</p>
						<p><b>Technologies:</b> C#, PHP, HTML5, CSS3</p>	
					</article>
					<h3>Clubs</h3>
					<article class="article_data">
						<a href="sports.html"><p>Sports</p></a>
						<a href="#"><p>Health</p></a>
						<a href="#"><p>Dance</p></a>
						<a href="#"><p>Festival</p></a>
						<a href="#"><p>Music</p></a>
					</article>
					<h3>Events</h3>
					<article class="article_data">
						<a href="new_event.html"><p>Cricket 2K13</p></a>
						<a href="#"><p>Diwali Celebrations</p></a>
						<a href="#"><p>2K Run</p></a>
						<a href="#"><p>Sfsdjfkjnd</p></a>
						<a href="#"><p>Snnvblclc</p></a>
					</article>
				</section>
}